<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro de Pessoa</title>
</head>
<body>
  <h1>Cadastro de Pessoa</h1>
  <br/>
  <form action="salvarpessoa" method="post">
  <label>Nome: </label>
  <input type="text" name="nome">
  <br/>
  <label>Sobrenome: </label>
  <input type="text" name="sobrenome">
  <br/>
  <label>Email: </label>
  <input type="email" name="email">
  <br/>
  <input type="text" name="idade">
  <br/>
  <input type="submit" value="salvar">
  
   
  </form>
</body>
</html>