<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro de Pessoa</title>
</head>
<body>
	<h1>Cadastro de Pessoa</h1>
	<br />
	<form action="salvarpessoa" method="post">
		<label>Nome: </label> <input type="text" name="nome"> <br /> <label>Sobrenome:
		</label> <input type="text" name="sobrenome"> <br /> <label>Email:
		</label> <input type="email" name="email"> <br /> <input type="text"
			name="idade"> <br /> <input type="submit" value="salvar">
	</form>
	<br/>
	<br/>
	
	<table>
	   <tr th:each = "pessoa : ${pessoas}">
	   
	    <td th:text = "${pessoa.id}"></td>
	    <td th:text = "${pessoa.nome}"></td>
	    <td th:text = "${pessoa.sobrenome}"></td>
	    
	   </tr>
	</table>
</body>
</html>